{% comment %}
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class{{ class num, leading 0 }}"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week {{ week num }}

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__{{ 3 letter month }} {{ date }} - Topics and Slides__

{% comment %}
* [About Class #7](slides/07/meta.html)
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__


</div>
</div>

<a name="class{{ class num, leading 0 }}"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__{{ 3 letter month }} {{ date }} - Topics and Slides__

{% comment %}
* [About Class #7](slides/07/meta.html)
{% endcomment %}
</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

