{% comment %}
* __Week 11__ - Client Side JavaScript, DOM, APIs, Modules
	* 20.11/11 - DOM, client side JavaScript
	* 21.11/13 - Building and Consuming APIs, Modules, auth
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class20"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 11

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 11th - Topics and Slides__

* [About Class #20](slides/20/meta.html)
* [HTML Primer, JavaScript and the Browser](slides/20/javascript-browser.html)
* [The Document Object Model](slides/20/dom.html)

<!--* [MVC, Miscellaneous Express](slides/20/mvc.html)-->
</div>
  <div class="col-md-4" markdown="block">
__Readings__

*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 12 - JavaScript and the Browser
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 13 - The Document Object Model

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

Not familiar with HTML? __Catch up with__:

* [MDN's HTML](https://developer.mozilla.org/en-US/docs/Web/HTML) [Introduction](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Introduction)
* [HTML Dog](http://www.htmldog.com/)


</div>
</div>

<a name="class21"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 13th - Topics and Slides__

* [About Class #21](slides/21/meta.html)
* [DOM Continued, Events](slides/21/dom-continued.html)
* [Canvas](slides/21/canvas.html)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 13 - The Document Object Model
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 16 - Canvas

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
