{% comment %}
* __Week 4__ - JavaScript Modules and Patterns, HTTP and Intro to Node
	* 7. 9/23 modules and patterns, project - programming languages
	* 8. 9/25 http, curl, etc, web and simple web server with node
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class07"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 4

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 23rd - Topics and Slides__

* [About Class #7](slides/07/meta.html)
* [Global Object, Methods, This](slides/07/globals-methods-this.html)
* [Prototypes](slides/07/prototypes.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

*  Finish up [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 6 - The Secret Life of Objects
* (optional) {{ site.book_js_2 }} - Chapter 3 - Objects

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__


</div>
</div>

<a name="class08"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 25th -  Topics and Slides__

* [About Class #8](slides/08/meta.html)
* [Switch Case, Require](slides/08/control-require.html)
* [Intro to Web Development](slides/08/web.html)
* [A Web Server](slides/08/server.html)
* [Finish Up Prototypes](slides/07/prototypes.html#/20)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 1 - Introducing Express
* {{ site.book_web }} - Chapter 2 - Getting Started With Node
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 13 - [JavaScript and the Browser](http://eloquentjavascript.net/12_browser.html)
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 17 - [HTTP](http://eloquentjavascript.net/17_http.html) (up to browsers and http)
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 20 - [Node](http://eloquentjavascript.net/20_node.html) (up to streams)

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

{% comment %}
* [homework #2](assignments.html#hw02) is posted
* due on Tuesday, September 30th
{% endcomment %}

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

