<!-- **********BEGIN********** -->
<a name="class01"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 1
</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 2nd - Topics and Slides__

* [Intro](slides/01/intro.html)
* [About JavaScript](slides/01/javascript.html)
* [Values, Types, and Operators](slides/01/values-types-operators.html)
* [Variables, Control Structures](slides/01/variables-control-structures.html)

<!--
* Introductions
* Basic JavaScript
-->
  </div>
  <div class="col-md-4" markdown="block">
__Readings__

* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 1 - Values, Types, and Operators
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 2 - Program Structure
* (optional) {{ site.book_js_2 }} - Chapter 2 - Grammar 
</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* [Please install Node.js, K THX.](slides/01/intro.html#/25)
* v0.10.31 is the latest
</div>
</div>

<a name="class02"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 4th -  Topics and Slides__

* [About Class #2](slides/02/meta.html)
* [A Tiny Review (and Some Stuff We Missed)](slides/02/review.html)
* [Coercion (Revisited), Casting, Undefined, and Some Style](slides/02/coercion-casting-undefined.html)
* [Functions](slides/02/functions.html)

<!--
* Review
* Functions
-->
  </div>
  <div class="col-md-4" markdown="block">
__Readings__

* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 3 - Functions
* (optional) {{ site.book_js_2 }} - Chapter 4 - first 6 pages (up to the section on "Return")

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* As mentioned in the readings, check out the chapter on functions
* Try to shake the feeling of uneasiness when dealing with automatic type conversion!
* Enjoy your weekend!

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
