{% comment %}
* __Week 9__ - MongoDB, DOM, Client Side JavaScript
	* 16.10/28 - MongoDB, form validation?
	* 17.10/30 - DOM, JQuery? 
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class16"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 9

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 28th - Topics and Slides__

* [About Class #16](slides/16/meta.html)
* [MongoDB Demo (From Previous Class)](slides/15/mongo.html)
* [Extracting Parameters from URL Paths](slides/16/params.html)
* [Form Elements Revisited](slides/16/forms-revisited.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* [MongoDB Documentation](http://docs.mongodb.org/manual/)
	* [Install](http://docs.mongodb.org/manual/installation/)
	* [Create, Read, Update, Delete](http://docs.mongodb.org/manual/crud/)
	* [Data Modeling](http://docs.mongodb.org/manual/core/data-modeling-introduction/)
* [Mongoose Documentation](http://mongoosejs.com/)
	* [Quick Start](http://mongoosejs.com/docs/index.html)

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* [Homework, initial draft posted](http://foureyes.github.io/csci-ua.0480-fall2014-002/assignments.html#hw05)
</div>
</div>

<a name="class17"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 30th - Topics and Slides__

* [About Class #17](slides/17/meta.html)
* [Mongoose API](slides/17/mongoose.html)
* [Extracting Parameters from URL Paths](slides/16/params.html)
* [Form Elements Revisited](slides/16/forms-revisited.html)

</div>
  <div class="col-md-4" markdown="block">

__Readings__

*  {{ site.book_web }} - Chapter 14 - Routing
* Form Elements
	* [MDN - Forms in HTML](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms_in_HTML)
	* [MDN - HTML Forms Guide](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms)
	* [MDN - My First Form](https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/Forms/My_first_HTML_form)
	* [Dive into HTML5 Forms](http://diveintohtml5.info/forms.html)
* [MongoDB Documentation](http://docs.mongodb.org/manual/)
	* [Install](http://docs.mongodb.org/manual/installation/)
	* [Create, Read, Update, Delete](http://docs.mongodb.org/manual/crud/)
	* [Data Modeling](http://docs.mongodb.org/manual/core/data-modeling-introduction/)
* [Mongoose Documentation](http://mongoosejs.com/)
	* [Quick Start](http://mongoosejs.com/docs/index.html)

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

* The [midterm solutions are posted](resources/handouts/midterm/midterm_solutions.pdf)
</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

