{% comment %}
* __Week 15__ - Extra Topic, Review
	* 27.12/9
	* 28.12/11
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class27"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 15

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Dec 9th - Topics and Slides__

* [About Class #27](slides/27/meta.html)
* [Angular](slides/27/angular.html)
* [Deploys](slides/27/heroku.html)
* [JQuery](slides/27/jquery.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* out-of-class review
	* 12/15 (Monday) at WWH 505 from 5:45pm - 6:30pm 
	* __please email me if you're planning to attend__
* final project
	* extensions for final project upon request 
	* __Wednesday at 11PM is the latest__ for submissions with extension
	* submissions later than that we'll receive a %40 penalty 
	* anything beyond finals week __will not be accepted__


</div>
</div>

<a name="class28"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Dec 11th - Topics and Slides__

* [About the Final Exam](slides/28/exams.html)

__Practice Questions__

* Questions cover second half of semester
* Though exam is cumulative
* [Practice Questions](resources/handouts/final/final_exam_practice.pdf)
* [Practice Questions Solutions](resources/handouts/final/final_exam_practice_solutions.pdf)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

__Final Exam__

* Tuesday, December 16, 2014 
* 8:00AM - 9:50AM
* WWH 317

__Review__

* Monday, 12/15
* 5:30PM - 6:30PM
* WWH 505
</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

