{% comment %}
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class18"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 10

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 4th - Topics and Slides__

* [About Class #18](slides/18/meta.html)
* [Directory Layout](slides/18/layout.html)
* [Validation](slides/18/validation.html)
* [Form Elements (ok, really)](slides/16/forms-revisited.html)
* [Midterm Solutions](resources/handouts/midterm/midterm_solutions.pdf)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* [Validation with Mongoose](http://mongoosejs.com/docs/validation.html) 

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__


</div>
</div>

<a name="class{{ class num, leading 0 }}"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 6th - Topics and Slides__

* [About Class #19](slides/19/meta.html)
* [Authentication](slides/19/auth.html)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 18 - Security
* [An Authentication Demo for Class](https://github.com/foureyes/csci-ua.0480-class17)
* [Comprehensive tutorial from Scotch.io on authentication with passport](http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local)
* [Passport docs](http://passportjs.org/guide/) - authentication middleware
* [How to securely hash passwords](http://security.stackexchange.com/questions/211/how-to-securely-hash-passwords)
* [Salted Password Hashing - Doing it Right](https://crackstation.net/hashing-security.htm)


</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

* Check out [the sample code](https://github.com/foureyes/csci-ua.0480-class17).
</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
