{% comment %}
* __Week 13__ -  CSS Continued, Brief Intro to Angular
	* 24.11/25 - Angular
	* xxxxx
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class24"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 13

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__November 25th - Topics and Slides__

* [About Class #24](slides/24/meta.html)
* [Selectors, JS and CSS](slides/24/js-css.html)
* [AJAX, XMLHttpRequest](slides/24/ajax.html)

<!--
* [AJAX and Express](slides/24/ajax-express.html)
* Less
* Modules
* Client Side Templating
-->

</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__


</div>
</div>


<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 27th - Topics and Slides__

Fall Break
</div>
  <div class="col-md-4" markdown="block">
__Readings__

Fall Break

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

Fall Break
</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

