{% comment %}
* __Week 6__ - Express, Intro to MongoDB
	* 11.10/7 cookies and sessions, middleware, templating
		* create number guessing game
			* set cookie
			* remember highest score in session
			* forms
			* middleware for logging
				* writing to file
		* or create a form that tracks your favorite color
		* create a login?
		* use mongodb to store a grocery list? ... quantity, date
	* 12.10/9 mongo as a data store,
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class09"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 5

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 30th - Topics and Slides__

* [About Class #9](slides/09/meta.html)
* [Node's HTTP Module](slides/09/node-http.html)
* [Static Sites, Remote Server Administration](slides/09/static.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 2 - Getting Started With Node
* {{ site.book_web }} - Chapter 3 - Saving Time With Express
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 20 - [Node](http://eloquentjavascript.net/20_node.html) (up to streams)

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* [Homework #3](assignments.html#hw03) is posted
* Start checking out Express

</div>
</div>

<a name="class10"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 2nd - Topics and Slides__

* [About Class #10](slides/10/meta.html)
* [Project Setup](slides/10/setup.html)
* [Express](slides/10/express.html)
</div>
  <div class="col-md-4" markdown="block">
__Readings__


* {{ site.book_web }} - Chapter 3 - Saving Time With Express
* {{ site.book_web }} - Chapter 6 - The Request and Response Objects
* {{ site.book_web }} - Chapter 7 - Templating with Handlebars

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
