{% comment %}
* __Week 7__ - Review, MongoDB
	* 10/14 - break
	* 13.10/16 review, forms and sessions
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 7

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 14th - Topics and Slides__

Fall Break!

</div>
  <div class="col-md-4" markdown="block">
__Readings__

Fall Break!

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

Fall Break!
</div>
</div>

<a name="class13"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 16th - Topics and Slides__

* [About Class #13](slides/13/meta.html)
* [Forms](slides/12/forms.html)
* [Sessions](slides/12/sessions.html)
* [About the Exam, Review](slides/13/exam.html)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 8 - Form Handling
* {{ site.book_web }} - Chapter 9 - Cookies and Sessions

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

* check out the [sample midterm questions](resources/handouts/midterm/midterm_sample_questions.pdf)
* review on Monday 10/20 at WWH 905 (tentative room) from 2:00 to 3:30pm

</div>
</div>
</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
