{% comment %}
* __Week 3__ - Higher Order Functions, Error Handling/Regex, Prototypes, 
	* 5. 9/16 Higher Order Functions, Error Handling, Regex
	* 6. 9/18 Prototypes, Start JavaScript Modules?
{% endcomment %}
<!-- **********BEGIN********** -->
<a name="class05"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 3

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 16th - Topics and Slides__

* [About Class #5](slides/05/meta.html)
* [String and Array Methods Review](slides/05/string-array-methods.html)
* [Objects Basics Continued](slides/05/objects-addendum.html)
* [Higher Order Functions](slides/05/higher-order-functions.html)

<!--* [Prototypes](slides/05/prototypes.html)-->

</div>
  <div class="col-md-4" markdown="block">
__Readings__

*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 5 - Higher Order Functions
*  Start reading... [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 6 - The Secret Life of Objects
* (optional) {{ site.book_js_2 }} - Chapter 3 - Objects

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

{% comment %}
* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 4 - Objects and Arrays
* Send me your github username!
* (That is all... and of course, at least start the homework so you can ask questions about it)
{% endcomment %}

</div>
</div>

<a name="class06"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 18th -  Topics and Slides__

* [About Class #6](slides/06/meta.html)
* [Finish Up Higher Order Functions](slides/06/higher-order-functions.html)
* [Objects Revisited, Prototypes](slides/06/objects-prototypes.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 6 - The Secret Life of Objects
* (optional) {{ site.book_js_2 }} - Chapter 3 - Objects

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

* [homework #2](assignments.html#hw02) is posted
* due on Tuesday, September 30th

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

