{% comment %}
* __Week 14__ - Creating Modules, JQuery, Angular, Less
	* 25.12/2
	* 26.12/4
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class25"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 14

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Dec 2nd - Topics and Slides__

* [About Class #25](slides/25/meta.html)
* [AJAX and Express](slides/25/ajax-express.html)

<!--
* [Modules](slides/25/modules.html)
* [JQuery](slides/25/jquery.html)
-->

</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__
* final project due in a week, 12/8 
* (usual 24 hour grace period applies)
* final exam is in two weeks
	* Tuesday, December 16th
	* 8:00AM - 9:50, WWH 317


</div>
</div>

<a name="class26"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Dec 4th - Topics and Slides__

* [About Class #26](slides/26/meta.html)
* [Socket.IO](slides/26/socketio.html)
</div>
  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__


</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

