{% comment %}
* __Week 2__ - JavaScript, Functional and Object Oriented Programming
	* 3. 9/9 - js - functional
	* 4. 9/11 - js - error handling
		* project
{% endcomment %}
<!-- **********BEGIN********** -->
<a name="class03"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 2

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 9th - Topics and Slides__

* [About Class #3](slides/03/meta.html)
* [Review](slides/03/review.html)
* [Hoisting](slides/03/hoisting.html)
* [Finish Out Functions](slides/03/functions-addendum.html)
* [Objects](slides/03/objects.html)
* [Homework #01](assignments.html#hw01)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 4 - Objects and Arrays
* (maybe) [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 5 - Higher Order Functions
* (optional) {{ site.book_js_2 }} - Chapter 3 - Objects

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* Send me your github username!
* (That is all... and of course, at least start the homework so you can ask questions about it)
</div>
</div>

<a name="class04"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Sep 11th -  Topics and Slides__


* [About Class #4](slides/04/meta.html)
* [Node, NPM, Debugging, Git and GitHub](slides/04/node-npm-debug-git.html)
* [Finishing Out Objects](slides/04/objects-addendum.html)

<!--
* review
	* closure
		* easy one
		* for loop one
	* review hoisting
	* objects review
		* string methods
			* show examples
		* array methods
			* show examples
* why closure
	* callbacks
* prototypes
* finish out functions (maybe not much left there)
* higher order functions
* git
* error handling and/or regular expressions
-->

  </div>
  <div class="col-md-4" markdown="block">
__Readings__

<!--
* [{{ site.book_js }}]({{ site.book_js_link }}) - 
* (optional) {{ site.book_js_2 }} - 
-->

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

<!--
* 
* 
* 
-->

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->
