{% comment %}
* __Week 8__ - __Midterm Exam, 10/21__, MongodB
	* 14.10/21 - midterm 
	* 15.10/23 - MongoDB 
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class{{ class num, leading 0 }}"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 8

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 21st - Topics and Slides__

Midterm

</div>
  <div class="col-md-4" markdown="block">
__Readings__

Midterm

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

Midterm
</div>
</div>

<a name="class15"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 23rd - Topics and Slides__



* [About Class #15](slides/15/meta.html)
* [Project Layout and Scaffolding](slides/15/scaffolding.html)
* [Mongo DB Demo](slides/15/mongo.html)

<!--* [More Forms](slides/15/more-forms.html)
* [Storage](slides/15/storage.html)
* [From Validation and Other Form Elements](slides/15/forms-revisited.html)
* [Image Upload: File System and S3](slides/15/storage.html)
-->

</div>
  <div class="col-md-4" markdown="block">
__Readings__

The book's not so great on this, so I'll post some links to the related docs for __MongoDB__, __mongoose__ and __express-generator__ (they're all embedded in the slide).
</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

