{% comment %}
* __Week 6__ - Express, Intro to MongoDB
	* 11.10/7 cookies and sessions, middleware, templating
		* middleware
		* create 
		* homework:
			* create number guessing game
				* set cookie
				* remember highest score in session
				* forms
				* middleware for logging
				* writing to file
		* use mongodb?
	* 12.10/9 mongo as a data store,
{% endcomment %}


<!-- **********BEGIN********** -->
<a name="class11"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 6

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 7th - Topics and Slides__

* [About Class #11](slides/11/meta.html)
* [Express - Request Response Objects](slides/11/request-response.html)
* [Templating](slides/11/templating.html)
* [Tools, Web Browsers, and Debugging](slides/11/debugging.html)


</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 6 - The Request and Response Objects
* {{ site.book_web }} - Chapter 7 - Templating with Handlebars
* {{ site.book_web }} - Chapter 8 - Form Handling

{% comment %}
* {{ site.book_web }} - Chapter 8 - Form Handling
* {{ site.book_web }} - Chapter 9 - Cookies and Sessions
* {{ site.book_web }} - Chapter 10 - Middleware
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

</div>
</div>

<a name="class12"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Oct 9th - Topics and Slides__

* [About Class #12](slides/12/meta.html)
* [Using GET / Review](slides/12/review-get.html)
* [Middleware](slides/12/middleware.html)
* [Forms](slides/12/forms.html)
* [Sessions and Cookies](slides/12/sessions.html)
* [Back to Tools, Web Browsers, and Debugging Again?](slides/11/debugging.html)

</div>
  <div class="col-md-4" markdown="block">
__Readings__

* {{ site.book_web }} - Chapter 8 - Form Handling
* {{ site.book_web }} - Chapter 9 - Cookies and Sessions
* {{ site.book_web }} - Chapter 10 - Middleware

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

* [Homework #4](assignments.html#hw04) is posted
</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

