{% comment %}
* __Week 12__ - Building and Consuming APIs, CSS and CSS Frameworks
	* 22.11/18 - building and comsuming apis, jquery? intro to css
	* 23.11/20 - css layouts, using bootstrap
{% endcomment %}

<!-- **********BEGIN********** -->
<a name="class22"></a>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
<div class="panel-heading">
Week 12

</div>
<div class="panel-body" markdown="block">

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 18th - Topics and Slides__

* [About Class #22](slides/22/meta.html)
* [DOM Review, Finding and Changing](slides/22/dom-review.html)
* [Back to HTML Elements, Attributes](slides/22/attributes.html)
* [Styling and Layout](slides/22/layout-style.html)
* [JavaScript Timers](slides/22/timers.html)


</div>
  <div class="col-md-4" markdown="block">
__Readings__

*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter 13 - The Document Object Model
* [CSS Layout on learnlayout.com](http://learnlayout.com/)

</div>
  <div class="col-md-4" markdown="block">
__Notes / Todo__

* [Final Project](final-project.html) posted
</div>
</div>

<a name="class23"></a>

<hr><!---------------------------------------------------------------->

<div class="row">
  <div class="col-md-4" markdown="block">
__Nov 20th - Topics and Slides__

* [About Class #23](slides/23/meta.html)
* [CSS Display, Box-Model, Positioning, and Selectors](slides/23/css.html)

<!--
* [JavaScript Timer Functions Continued](slides/23/timer.markdown)
* [AJAX](slides/23/ajax.markdown)	
-->
</div>

  <div class="col-md-4" markdown="block">
__Readings__

{% comment %}
*  [{{ site.book_js }}]({{ site.book_js_link }}) - Chapter {{ chapter number}} - {{ chapter title }}
{% endcomment %}

</div>
  <div class="col-md-4" markdown="block">

__Notes / Todo__

</div>
</div>


</div>
    </div>
  </div><!-- end col -->
</div><!-- end row -->
<!-- .......... END .......... -->

